{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="card o-hidden border-0 shadow-lg w-75 mx-auto mt-4">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-primary">Iniciar Sesión </h4>
        </div>
        <div class="card-body">
            <form action="signin" method="post">
            {% csrf_token %}
                <input type="text" id="username" name="username" class="form-control mb-4" placeholder="Nombre de usuario..." required>
                <input type="password" id="password" name="password" class="form-control mb-4" placeholder="Contraseña" required>
                <small>No tenes un usuario? <a href="signup">Registrate</a></small>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success text-center align-items-center">Iniciar sesión</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
